# ==========================================
# Foodway Combined Environment Configuration
# ==========================================

# -----------------
# Server Settings
# -----------------
PORT=5000

# -----------------
# Client Settings
# -----------------
VITE_API_BASE_URL=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_GOOGLE_MAP_KEY=
VITE_CLOUDINARY_CLOUD_NAME=

# -----------------
# AWS Settings (Used by server, kept secure from client)
# -----------------
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=ap-south-2
AWS_S3_BUCKET_NAME=
AWS_DYNAMODB_REGION=eu-north-1
AWS_DYNAMODB_TABLE_NAME=

# Admin Credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=

